<!-- templates/home.html -->
{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Is it going to rain?</h1>
    <h3>Answering the important weather questions</h3>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}</p>
        {% if user.profile.zip_code == None %}
            <p>You havent setup your location yet.</p>
            <p>Add local weather udpate by setting up your location <a href="{% url 'edit_profile' %}">here</a></p>
        {% else %}
            {% if latest_weather != None %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{latest_weather.name}}</h5>
                <p class="card-text">{{latest_weather.detailed_forecast}}</p>
                <a href="{% url 'alerts' %}" class="btn btn-primary">Go to my alerts</a>
                </div>
            </div>
            {% endif %}
        {% endif %}
        
    {% else %}
        <p><a href="{% url 'signup' %}">Sign Up</a></p>
        <p><a href="{% url 'login' %}">Log In </a></p>
    {% endif %}
</div>
{% endblock body %}