{% extends 'base.html' %}

{% block body %}
<head>
    {% load static %}

    <!-- Where you want to load the javascript file template file -->
    
</head>
<div class="container">

 
    <h1>Alerts</h1>
    
    <div class="table-responsive table-hover">

        <table class="table" id="alert_table" style="text-align: center">
            <thead class="thead-light">
                <tr>
                    <th>Weather Type</th>
                    <th>Interval (Hours)</th>
                    <th>Alert Time</th>
                </tr>
            </thead>
            <tbody>
                {% for alert in object_list %}
                    <tr>
                        <td><a href="{% url 'edit_alert' alert.pk%}">{{alert.weather_type}}</a></td>
                        <td>{{alert.interval}}</td>
                        <td>{{alert.alert_time}}</td>
                    </tr>
                {% empty %}
                    <li>No alerts yet.</li>
                {% endfor %}
            </tbody>
        </table>
    </div>
  
    <a class="btn btn-primary" href="{% url 'alert-create'%}" id="add">Add</a>
    <!--<a class="btn btn-primary" href="" role="button" id="edit">Edit</a> 
    <button class="btn btn-secondary"id="delete">Delete</button>-->
</div>

{% endblock body %}