{% extends 'base.html' %}
{% block body %}
<div class="container">
    {% if user.is_authenticated %}
        <h1>Your profile:</h1>
        <p>{{ user.profile.phone_number }}</p>
        <p>{{ user.profile.zip_code }}</p>
        <p>{{ user.profile.cell_phone_provider}}</p>
        <p><a href="{% url 'alert-create' %}">Create new alert</a></p>
        <p><a href="{% url 'alerts' %}"></a> Your alerts</p>
        <p><a href="{% url 'edit_profile' %}">Edit profile</a></p>

    {% else %}
        <p>please log in to view profile data.</p>

    {% endif %}
</div>
{% endblock body %}
